name = "omni-cms-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "omni-cms"
database_id = "12aad490-4c2d-4cdb-b07f-0f536e20e994"
migrations_dir = "drizzle/migrations"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "omni-cms-media"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

# Environment Variables
# Cloudflare R2 Storage
R2_ACCOUNT_ID=9a2b6956cc47f63e13beb91af5363970
R2_ACCESS_KEY_ID=64d3af705113e6b991eb198778080aa7
R2_SECRET_ACCESS_KEY=64e1077ead95173a34867a14a2e251a6cd9b824a8ed51d9c9697d45717702bcd
R2_BUCKET_NAME=omni-cms-media
R2_PUBLIC_URL=https://9a2b6956cc47f63e13beb91af5363970.r2.cloudflarestorage.com

CF_ACCESS_AUD=7291b33d4c255188f0d63a05cf91f9e72e1e6606fb2acb148360886c42e52083
CF_ACCESS_TEAM_DOMAIN=sincdev.cloudflareaccess.com
NEXT_PUBLIC_APP_URL=omni-cms-sinc.joseph-9a2.workers.dev



