name = "omni-cms-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "omni-cms"
database_id = "12aad490-4c2d-4cdb-b07f-0f536e20e994"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "omni-cms-media"

